<div class="container">
  <header>
    <h2>Welcome to Routing Web App</h2>
  </header>

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="about" routerLinkActive="active">About Us</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact Us</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="gallary" routerLinkActive="active">Gallary</a>
    </li>
  </ul>

  
</div>

<router-outlet></router-outlet>